<mat-card>
    <mat-card-title-group>
        <mat-card-title>item name</mat-card-title>
        <mat-card-subtitle>item rarity</mat-card-subtitle>
        <img mat-card-sm-image src="https://o.aolcdn.com/images/dims?quality=85&image_uri=https%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fcrop%3D1600%252C895%252C0%252C0%26quality%3D85%26format%3Djpg%26resize%3D1600%252C895%26image_uri%3Dhttps%253A%252F%252Fs.yimg.com%252Fos%252Fcreatr-uploaded-images%252F2019-08%252F06a87370-b93c-11e9-bdf7-b9ddb4a6c294%26client%3Da1acac3e1b3290917d92%26signature%3Dc42f2ad7ca6c7a54a8b872350f119fedf5ec0328&client=amp-blogside-v2&signature=c9d22fb2fb8bfdf7599c37ee799ed2d5d49cf6ca" alt="item image">
    </mat-card-title-group>
    <mat-card-description>aquired by info (if present)</mat-card-description>
</mat-card>